.grand-parent {
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.parent {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.child {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}